@charset utf-8;

.popup_layer_back {
	display:none;
	position:fixed;z-index:9997;
	top:0;bottom:0;left:0;right:0;
	width:100%;height:100%;
	margin:auto;
}

.popup_layer {
	display:none;
	position:fixed;z-index:9998;
	top:0;bottom:0;left:0;right:0;
	margin:auto;
	/*width:100%;height:100%;*/
	width:80%;min-width:300px;max-width:500px;
	height:90%;min-height:400px;max-height:500px;
}

.ie {
	background-color : rgba(0, 0, 0, 0.7) !important;
	background: rgba(0, 0, 0, 0.7) !important;
	color: rgba(0, 0, 0, 0.7) !important;
}

.not_ie {
	filter:blur(11px);
	-webkit-filter:blur(11px);
	-moz-filter:blur(11px);
	background-color: rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
}

.popup_layer {
	display: none;
    position: fixed;
    z-index: 9998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    height: 90%;
    min-height: 400px;
    max-height: 500px;
}

.popup_layer .popup_layer__inner {
	display:block;
	position:absolute;z-index:9999;
	top:0;bottom:0;left:0;right:0;
	/*width:80%;min-width:300px;max-width:500px;
	height:90%;min-height:400px;max-height:500px;*/
	width:100%;height:100%;
	margin:auto;
	padding:80px 50px;
	background-color:#fff;border-radius: 3px;
	-webkit-box-shadow: 11px 10px 23px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 11px 10px 23px -2px rgba(0,0,0,0.75);
	box-shadow: 11px 10px 23px -2px rgba(0,0,0,0.75);
}

.popup_layer .popup_layer__inner {
	display:block;
	position:absolute;z-index:9998;
	top:0;bottom:0;left:0;right:0;
	width:100%;height:100%;
	margin:auto;
}

@media all and (max-width:740px) { 

	.popup_layer .popup_layer__inner {
		padding:80px 20px;
	}
}

@media all and (max-width:500px) { 
	.popup_layer .popup_layer__inner {
		max-height: 430px;
	}
}